<DOCTYPE html>
<html>
<body>

<div class="card">
  <div class="card-body">
    <h4>Simple Password:</h2>
    <form method="POST">
      <input value = "Simple" name="submit_button" type="submit" onclick={{info}}>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Tough Password:</h2>
    <form method="POST">
      <input value = "Tough" name="submit_button" type="submit">
    </form>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4>Clear Password:</h2>
    <form method="POST">
      <input value = "Clear" name="submit_button" type="submit">
    </form>
  </div>
</div>

<h4>{{info}}</h4>


</body>
</html>
